body {
  background-color: rgb(248, 229, 249);
  text-align: center;
}

header {
  padding: 1rem 0;
  border-bottom: solid 1px black;
  background-color: rgb(247, 194, 250);
}

.box {
  display: grid;
  margin: 3.5rem .5rem;
  border: 2px solid black;
  border-radius: 10px;
  max-width: 500px;
  max-height: fit-content;
  align-self: center;
  justify-self: center;
  background-color: aliceblue;
  grid-template-rows: 5% 24% 47% 24%;
}

h2 {
  justify-self: center;
  font-size: x-large;
}

.text,
picture {
  justify-self: center;
  align-self: center;
}

picture img {
  border-radius: 10px;
  margin: 1rem;
}

.text p {
  font-size: medium;
  margin: 1.5rem 2rem;
}

footer {
  padding: 1rem 0;
  border-top: solid 1px black;
  background-color: rgb(247, 194, 250);
}
